# Project-wide ignores
.DS_Store
.idea/
.vscode/

# Frontend ignores
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Contract is ignored via its own .gitignore file
